langchain
langchain_core
langchain_community 
dotenv
langchain_qdrant
langgraph 
langchain-groq
fastapi
uvicorn
python-multipart
cryptography
sqlalchemy
psycopg2-binary
supabase
pyMUpdf

qdrant-client[fastembed]
fastembed

pydantic
python-dotenv

pymupdf
pandas
openpyxl
python-pptx

unstructured
unstructured[pdf]

google-api-python-client
google-auth
google-auth-oauthlib

fastembed
